Package: front-jco-datalogger
Version: 0.0-2
Maintainer: mike <mpcrowe@gmail.com>
Section: text
Architecture: all
Priority: optional
Homepage : http://www.gcdataconcepts.com/
Depends: apache2 (>=2.4.0), php (>=7.0), libapache2-mod-php
Description: Web interface frontend jco-datalogger
