#Banner {
	position:absolute;
	left:170px;
	top:10px;
	width:760px;
	height:200px;
	z-index:1;
	background-color: #0083B3;
}
#NavShadow {
	background-color:#333333;
	position:fixed;
	left:15px;
	top:15px;
	width:150px;
	height:400px;
	z-index:2;
}
#Navigation {
	position:fixed;
	left:10px;
	top:10px;
	width:150px;
	height:400px;
	text-align: center;
	z-index:3;
	background-color: #D6D8D3;
	
}
#MainBlock {
	position:absolute;
	top:210px;
	left:170px;
	width:760px;
	height:auto;
	z-index:4;
	background-color: #FFFFFF;
	page:auto;
}

#Content {

}
#Footer {
	width:760px;
	height:25px;
	z-index:5;
	background-color: #0083B3;

}
#pictureright {
	float:right;
	padding:10px;
}

body {
	background-color: #0083B3;
}

.style4 {
	font-family: "Times New Roman", Times, serif;
	font-weight: bold;
	font-style: italic;
	font-size: x-large;
}


.bodytext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 24px;
	color: #000000;
	margin-left: 10px;
	margin-right: 10px;
}

table {
  border-collapse: collapse;
  border: 1px solid black;
}


td, th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 24px;
	color: #333333;
	border: 1px solid black;
}

a {
	color: #336699;
	text-decoration: none;
}

form {
	background-color: #CCCC99;
}

.title {
	font-family: Arial, Helvetica, sans-serif;
 	font-size: 24px;
	line-height: 30px;
	color: #000000;
	margin-left: 10px;

}

.subtitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: bold;
 	color: #000000;
	margin-left: 10px;
}

.question {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: bold;
  	color: #b43120;
	margin-left: 10px;
}

.header {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #336699;
	margin-left: 10px;
	margin-top: 10px;
}

.nav {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color:#D6D8D3;
	background-color: #D6D8D3;
	font-style: italic;
}

.nav:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	background-color: #838385;
	font-style: italic;
}
.navLink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #0083B3;
	margin-left: 10px;
	font-style: italic;
}

.navLink:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #b12b28;
	background-color: #00ccff;
	
}

.sidebar {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	padding: 3px;
	background-color: #FFFFFF;
}

.sidebarHeader {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: #FFFFFF;
	background-color: #339999;
}

.sidebarFooter {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	background-color: #CCCCCC;
}

.footer {
  font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 22px;
	color: #F6F4F1;
	background-color: #0083B3;
	text-align: center;
}

.legal {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #333333;
}

.box1 {
	border-color: #CCCCCC #333333 #333333 #CCCCCC;
	border-width: medium;
  border-style: ridge;
}

.promo {
	font-family: "Times New Roman", Times, serif;
	color: #000033;
}

.titlebar {
	font-family: "Times New Roman", Times, serif;
	font-size: 9px;
	color: #FFFFFF;
  background-color: #336699;
}

.dingbat {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #99CC99;
  color: #006666; 
	font-weight: bolder;
	font-size: medium;
}

a:hover {
	text-decoration: underline;
}

input.big {
	width: 100px;
}

input.small {
	width: 50px;
}
.subtitle2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: normal;
	font-weight: bold;
	font-style: normal;
	font-variant: normal;
	text-indent: 20px;
}
